.menubar{
border:none;
border:0px;
margin:0px;
padding:0px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}

.menubar ul{
background: rgb(109,109,109);
height:50px;
list-style:none;
margin:0;
padding:0;
}

.menubar li{
float:left;
padding:0px;
}

.menubar li a{
background: rgb(109,109,109);
color:#cccccc;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 10px;
text-align:center;
text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
background: rgb(71,71,71);
color:#FFFFFF;
text-decoration:none;
}

.menubar li ul{
background: rgb(109,109,109);
display:none; /* ���ÿ��� ����޴��� �Ⱥ��̰� �ϱ� */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
/*top:1em;
/*left:0;*/
}

.menubar li:hover ul{
display:block; /* ���콺 Ŀ�� �ø��� ����޴� ���̰� �ϱ� */
}

.menubar li li {
background: rgb(109,109,109);
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menubar li:hover li a{
background:none;
}

.menubar li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 5px 0px 5px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background: rgb(71,71,71);
border:0px;
color:#ffffff;
text-decoration:none;
}

.menubar p{
clear:left;
}
.main {
	background: #ffffff;
	font-size: 50px;
	color: #ff80c0;
}


#custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;	
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
.gray-hover {
	background: #ffffff;
}
div.gray-hover:hover {
	background: #f3fefe;
}

td#titleHover:hover {
	color: #0080c0;
}
p#deleteBtn:hover {
	color: #0080c0;
}

h5#mypage:hover {
	text-decoration: underline;
}
li#langHover:hover {
	text-decoration: underline;
}

pre#codeBlur {
    filter: blur(2px);
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}
div#purchaseBox {
	width:80%; 
	text-align: center ; 
	position: absolute;
	margin-left:10%;
	margin-right:10%;
	box-sizing: border-box;
	background:white;
	display:table;
}
div#purchaseCell{
	 display:table-cell;
    vertical-align:middle;
}
#relative{
}

#middle-side{
	background-color: white;
}
body{
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-image: url("/spring_mybatis3/resources/img/background.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment:fixed;
}